# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IntelliJ
.DS_Store
.idea/
*.iml
interfaces/wallscope-interface/.DS_Store
node_modules/*


unity/
unity/*
interfaces/ecosystem-history/thermometer.png

roomcast-log.txt
**bots/roomcast-bot/data
**bots/class-bot/data
*.json
bots/class-bot/data/clusters.json
bots/class-bot/data/current.json
bots/roomcast-bot/data/default/design.json
